# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scripts.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\mmunson2\Documents\Research\Build_ASL_Tests\TutorialTest\Assets\ASL\ASL_Tutorials\Simple\VideoStream\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
